.main-container {
  padding: 20px;
  height: 100%; 
  overflow: scroll;
}

.scan-button {
  width: 100px;
  height: 50px;
  background-color: blue;
  margin-bottom: 30px;
}

.device {
  width: 100px;
  height: 50px;
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.red-device {
  background-color: red;
}

.green-device {
  background-color: green;
}